.Overwrite_Container {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    text-align: center;
    outline: 2px solid black;
}

.TestKit_infor {
    background-color: white;
}

.Kit_info {
    background-color: #162427;
    color: #ffffff;
}

.OW_TK_Labes {
    font-size: larger;
}

.from-control {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.CancelBTN_OW_TK {
    padding: 5px;
    background-color: #e12929;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #e12929;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.CancelBTN_OW_TK:hover {
    background-color: #ffffff;
    color: #e12929;
    border: 2px solid #e12929;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

.SubmitBTN_OW_TK {
    padding: 5px;
    background-color: #162427;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #162427;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.SubmitBTN_OW_TK:hover {
    background-color: #ffffff;
    color: #162427;
    border: 2px solid #162427;
    box-shadow: inset 150px 0 0 0 #ffffff;
}