.SignIn-Form-Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.SignIn-Form-Content>h1 {
    margin: 0;
    text-align: center;
}

.input-text {
    margin: 5px;
    width: 360px;
    height: 35px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
    cursor: text;
    color: #000000;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.Container-SignIn-Form #submitButton {
    display: block;
    background: #2165a5;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 35px;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 170px;
    margin: auto;
}

.Container-SignIn-Form #submitButton:hover{
    background: #fff;
    color: #2165a5;
    box-shadow: 0 4px 4px rgba(36, 168, 234, 0.32);
}

/* Forgot Password */
.Container-ForgotPassword, .Container-SignUp {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: black;
    margin: 0;
    padding: 0;
}

.Container-Admin {
    position: absolute;
    bottom: 0;
    right: 0;
}

#adminButton {
    background: #ffffff00;
    padding: 20px;
    border: 0;
    color: #ffffff00;
}