ul{
    list-style-type: none;
}
table{
    width:80%;
    float:left;
}
.table_h{
    font-size:20px;
    border-bottom-style: solid;
    border-color:rgba(0, 0, 0, 0.233);

}
.cart_page{
}
.cart_title{
    text-align: center;
    font-size:40px;
    margin-bottom:50px;  
}
.cart_items{
    
    
}
.th_product_header{
    text-align: center;
    width:50%;
}

.product_header{
    text-align: left;
}
td{
    text-align: center;
    font-size:20px;
    
}
.quant_header{
    
   
}
.price_header{

}
.item_image{
    width:100%;
    margin-left:-25px;
}

.item_image_header{
    text-align: left;
    width:10%;
}

.price_td{

}

.delete_button{
    font-size:20px;
    border:transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
    cursor: pointer;
    background-color: rgb(229, 229, 229);
    text-align: center;
    transition: ease 150ms;
}
.delete_button:hover{
    background-color: rgb(197, 126, 126);
}
.delete_button:active{
    scale:0.90;
}
.quant_td{
    width:20%;
    cursor:default;
    
}
.quant{
    display:inline;
    padding:2px;

}
.quant_button_minus{
    cursor:pointer;
    margin-left:15%;
    width: 20%; 
    text-align: center;
    border:none;
    font-size: 23px;
    transition:350ms;
    border-radius:50%;
    
    float:left;
}
.quant_button_plus{
    cursor:pointer;
    margin-right: 15%;
    width: 20%;
    text-align: center;
    border:none;
    font-size: 23px;
    transition:350ms;
    border-radius:50%;

    float:right;
}
.quant_button_minus:hover{
    cursor: pointer;
    background-color: rgb(0, 174, 255);
}
.quant_button_plus:hover{
    cursor: pointer;
    background-color: rgb(0, 174, 255);
}
.containerSum{
    float:right;
    text-align: left;
    height:50%;
    width:20%;
    background-color: rgb(236, 236, 236);
}
.discount{
    width:70%;
    height:100%;
    float:right;
    text-align: left;
}
.checkout{
    border:none;
    font-size:20px;
    padding:10px;
    background-color:#5ba4ba;
}
.checkout:hover{
    cursor: pointer;
}












