.body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.banner {
    padding: 200px;
    background-image: url(./image/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20px;
}

.Donations-Info-Container h1 {
    text-align: center;
}

.Donations-Info-Container h2 {
    text-align: center;
}

.Donations-Info-Container p {
    text-align: justify;
    padding: 0 12.5%;
}

.Charities-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Charities-Container h2 {
    text-align: center;
}

.Charities-Container h3 {
    text-align: center;
}

.Charities-Container p {
    padding: 0 5%;
    text-align: justify;
}

.WaterAid-Container {
    width: 70%;
    /* border: 2px solid rgba(0, 0, 0, 0.19); */
    margin: auto auto;
}

.WaterAid-Info {
    grid-template-columns: 20% 80%;
    display: flex;
    align-items: center;
}

.WaterAid-Container img {
    max-width: 300px;
    height: auto;
}

.drop_in_the_bucket-Container {
    width: 70%;
    /* border: 2px solid rgba(0, 0, 0, 0.19); */
    margin: auto auto;
}

.WWF-Info {
    grid-template-columns: 20% 80%;
    display: flex;
    align-items: center;
}

.drop_in_the_bucket-Container img {
    max-width: 300px;
    height: auto;
}

.bloodWater-Container {
    width: 70%;
    /* border: 2px solid rgba(0, 0, 0, 0.19); */
    margin: auto auto;
}

.bloodWater-Info {
    grid-template-columns: 20% 80%;
    display: flex;
    align-items: center;
}

.bloodWater-Container img {
    max-width: 300px;
    height: auto;
}

.waterOrg-Container {
    width: 70%;
    /* border: 2px solid rgba(0, 0, 0, 0.19); */
    margin: auto auto;
}

.waterOrg-Info {
    grid-template-columns: 20% 80%;
    display: flex;
    align-items: center;
}

.waterOrg-Container img {
    max-width: 300px;
    height: auto;
}

#Donate-Button {
    margin-left: 2.5%;
    height: 40px;
    width: 100px;
    background-color: #008CBA;
    color: #ffffff;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #008CBA;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
}

#Donate-Button:hover {
    background-color: #ffffff;
    color: #008CBA;
    border: 2px solid #008CBA;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

#MoreInfo-Button {
    margin-left: 2.5%;
    height: 40px;
    width: 100px;
    background-color: #008CBA;
    color: #ffffff;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #008CBA;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
}

#MoreInfo-Button:hover {
    background-color: #ffffff;
    color: #008CBA;
    border: 2px solid #008CBA;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

.image-container {
    height: 450px;
    width: 1500px;
    display: block;
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
}

.hq {
    text-align: center;
    font-size: 30px;
    font-style: bold;
    text-align: center;
}

.water_aid1 {
    background-image: url(./image/WaterAid.png);
}

.slide {
    height: 150px;
    width: 200px;
    display: grid;
    place-items: center;
    padding: 15px;
    perspective: 100px;

}

img {
    height: 100%;
    width: 100%;
    transition: transform 1s;
}

.image-slider {
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.image-slider-track {
    display: flex;
    width: calc(200px*12);
    animation: play 40s linear infinite;
}

@keyframes play {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px*6));
    }
}

/* .image-slider::before,
.image-slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    width: 15%;
    z-index: 2;
    position: absolute;

    } */

.image-slider::before {
    left: 0;
    top: 0;
}

.image-slider::after {
    right: 0;
    top: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1)0%, rgba(255, 255, 255, 0)100%);

}

img:hover {
    transform: translateZ(20px);
}


.count-container {
    border: 0.5px solid black;
}

.DonationCount {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

h2 {
    font-size: 30px;
    font-style: bold;
    text-align: center;
    background-color: rgh(230, 230, 230);
    padding-top: 0.6em;
    /* padding-bottom: 1.2em; */
}


.footer ul>li {
    display: inline-block;
    padding-left: 1vh;
    padding-right: 1vh;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-container {
    /* background-color: rgb(240, 231, 231); */
    padding-top: 0.6em;
    padding-bottom: 1.2em;
    text-align: center;
}