.invBody {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
}

.containerV {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: #22a9ed;
}

.containerV form {
    padding: 20px;
    width: 700px;
    background: #fff;
    border: 2px solid rgba(116, 116, 116, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.fa-sharp {
    color: green;
    padding-left: 40%;
    font-size: 10em;
    text-align: center;
}

.headerV {
    text-align: center;
}
