/* Page */
.SignUp {
    width: 100%;
    height: auto;
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto;
}

/* Form Div */
.SignUp-Form-Content {
    position: absolute;
	top: 1;
    right: 50%;
    width: 50%;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

/* Back Button */
#backButton {
    margin: 5px;
    outline: none;
    text-align: center;
    width: 60px;
    height: 30px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 10px;

    background: #2165a5;
    color: #fff;
    z-index: 1;
}

#backButton:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: #fff;
    transition: all 0.3s ease;
    border-radius: 10px;
}

#backButton:hover {
    color: #2165a5;
}

#backButton:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

#backButton:active {
    top: 2px;
}


/* Form */
.Container-SignUp-Form {
    margin: 0;
    position: relative;
    top: 42.5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.input-text {
    margin: 5px;
    width: 360px;
    height: 35px;
    padding: 20px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
    cursor: text;
    color: #000000;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.fullw {
    width: 360px;
}

.halfw {
    width: 175px;
}

.Container-SignUp-Form #termsAndConditionsLabel {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Container-SignUp-Form #termsAndConditionsInput {
    margin: 5px;
    outline: none;
    text-align: center;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.Container-SignUp-Form #privacyPolicyLabel {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Container-SignUp-Form #privacyPolicyInput {
    margin: 5px;
    outline: none;
    text-align: center;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}


/* Submit Button */
.Container-SignUp-Form #submitButton {
    display: inline-block;
    background: #2165a5;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 35px;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 170px;
}
  
.Container-SignUp-Form #submitButton:hover {
    background: #fff;
    color: #2165a5;
    box-shadow: 0 4px 4px rgba(36, 168, 234, 0.32);
}


/* Info Div */
.SignUp-Info {
    position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 2;
    background-size: cover;
    background-image: url(Thames.jpg);
    
}

.SignUp-Info-Content{
    margin: 0;
    position: relative;
    top: 42.5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.SignUp-Info-Content h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 0;
    margin-top: 20px;
}

.SignUp-Info-Content h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 0;
    margin-top: 20px;
}