.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 71px);
    /* calculate height of the screen minus the heading */
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#search_bar,
#water_body_filters,
#parameter_filters {
    position: absolute;
    z-index: 1;
}

#search_bar {
    top: 81px;
    left: 10px;
}

#water_body_filters {
    top: 121px;
    left: 10px;
    width: 25%;
}

#parameter_filters {
    top: 281px;
    left: 10px;
}


.white-box {
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}