.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px); /* calculate height of the screen minus the navbar */
}
  
.map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#search_bar, #water_body_filters, #parameter_filters{
    position: absolute;
    z-index: 1;
}

#search_bar {
    display: flex;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

#search_bar>input {
    width: 25vw;
    height: 30px;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #929292;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#search_bar>button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #929292;
    background-color: white;
    color: black;
}

#water_body_filters {
    top: 130px;
    left: 15px;
    width: 25%;
}

#parameter_filters {
    top: 280px;
    left: 15px;
}

#filter {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #929292;
    margin-bottom: 15px;
}   

.legend_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.legend_list>li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.legend_list>li>div {
    display: inline-block;
    padding: 12px;
    margin-right: 8px;
}

.white-box {
    opacity: 0.85;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3, h4 {
    margin: 0 0 8px;
}