ul{
    list-style-type: none;
}
table{
    width:80%;
    float:left;
}
th{
    font-size:20px;
    border-bottom-style: solid;
    border-color:rgba(0, 0, 0, 0.233);

}
.cart_page{
    margin: 20px 20px auto;
}
.cart_title{
    text-align: center;
    font-size:40px;
    margin-bottom:50px;  
}
.cart_items{
    
    
}

.product_header{
    text-align: left;
}
td{
    text-align: center;
    font-size:20px;
    
}
.quant_price_header{
    
}
.item_image{
    width:100%;
    margin-left:-25px;
}

.item_image_header{
    text-align: left;
    width:10%;
    
}

.delete_button{
    font-size:20px;
    border:transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
    cursor: pointer;
    background-color: rgb(229, 229, 229);
    text-align: center;
    transition: ease 150ms;
}
.delete_button:hover{
    background-color: rgb(197, 126, 126);
}
.delete_button:active{
    scale:0.90;
}
.quant{
    padding:5px;
    background-color: rgb(205, 205, 205);
}
.quant_button{
    width: 15%;
    margin:10px;
    border:none;
    font-size: 23px;
    border-radius: 50%;
}
.quant_button:hover{
    cursor: pointer;
    
    background-color: rgb(168, 255, 226);
}

.containerSum{
    
    float:right;
    text-align: left;
    height:50%;
    width:20%;
    background-color: rgb(236, 236, 236);

    
}
.discount{
    width:70%;
    height:100%;
    float:right;
    text-align: left;
}
.checkout{
    border:none;
    font-size:20px;
    padding:10px;
    background-color:#5ba4ba;
}
.checkout:hover{
    cursor: pointer;
}












