.page{
    margin-top:50px;
    background-color: white;
    display:flex;
}
.item_list{
    list-style-type: none;
    padding-top:50px;
    
    width:fit-content;
    height:fit-content;
    display:table;
    background-color: azure;
    padding-top:50px;
    margin-top: 250px;
    padding-left:5%;

}

.item_list{
    list-style-type: none;
    text-align: center;


}

.item{
    text-align:center;
    padding:10px;
    float:left;
}


.item_img{
    width:300px;
    height:300px;
    cursor: pointer;
    transition: ease-out 150ms;
    background-color: rgb(174, 216, 255);
    
}
.item_img:hover{
    background-color:rgb(174, 174, 255);
    border-color:black;
}

.item{
    background-color: rgb(222, 239, 255);
    margin-bottom: 20px;
    display:inline-block;
    margin-right:20px;

}

.item_quick_add{
    width: 120px;
    height: 30px;
    background-color: #a5c1ff;

    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border: 5px solid #ffffff00;
    border-radius: 8px;
    border-color:#008bba00;
    text-align: center;
    cursor: pointer;
    transition: ease 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
}
.item_quick_add:hover{
    background-color:#c0a5ff;
}

.item_text{

    font-size:15px;
    text-align: center;
}




.item_desc{
    width:25%;
    background-color:rgb(207, 207, 207);
    float:left;
    margin-top:5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    margin-left:5%;

}

.item_page_image{
    background-color:rgb(214, 214, 214);
    margin-top:5%;
    float:left;
    margin-left:20%;
}






.cart_num{
    font-size:.7em;
    background:rgb(255, 131, 131);
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
    z-index:1;
    float:right;

    margin-top:10px;
}

.cart{
    width:50px;
    height:50px;
    float:right;
    margin-top:10px;
    cursor:pointer;
    background-color:#a5c1ff00;
}

#checkout{
    position: fixed;
    display:inline-block;
    width: 650px;
    height:400px;
    left:35%;
    top:30%;
    background-color: rgb(221, 221, 221);
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.checkout_exit{
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    color: #008CBA;
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid #ffffff;
    float:right;
    text-align: center;
    cursor: pointer;
}