.Test_Kit_Table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.Test_Kit_Table td,
.Test_Kit_Table th {
    border: none;
    padding: 10px;
    text-align: center;
}


.Test_Kit_Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #5bced5;
    color: white;
}

.Edit_Kit_Price {
    padding: 5px;
    background-color: #162427;
    color: #ffffff;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #162427;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.Edit_Kit_Price:hover {
    background-color: #ffffff;
    color: #162427;
    border: 2px solid #162427;
    box-shadow: inset 150px 0 0 0 #ffffff;
}