* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Quicksand", sans-serif;
    background: #ffffff;
    color: black
}

section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin: 2rem 0rem;

}