

.Accounts-Navbar {
    background-color: #f5f5f5;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Accounts-Content {
    background-color: #fff;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    }

.AccountPageSection-Content {
    display: grid;
    grid-template-rows: 15% 85%;
}


.AccountPageSection-Content .Row-1-Content {
    grid-row: 1;
}

.AccountPageSection-Content .Row-2-Content {
    grid-row: 2;
    display: grid;
    grid-template-columns: 30% 70%;
}

.AccountPageSection-Content .Labels-Content {
    grid-column: 1;
}

.AccountPageSection-Content .Labels-Content label {
    font-size: 20.5px;
}

.AccountPageSection-Content .Inputs-Content {
    grid-column: 2;
}

.AccountPageSection-Content .Inputs-Content input {
    width:400px;
    height: 25px;
    font-size: 17px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: default;
}

.AccountLinks {
    text-align: center;
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    font-size: 20px;
    border: none;
    text-decoration: none;
    color: #000;
}
.Accounts-Content #submitButton {
    margin: 5px;
    height: 45px;
    width: 170px;
    background-color: #008CBA;
    color: #ffffff;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #008CBA;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.Accounts-Content #submitButton:hover {
    background-color: #ffffff;
    color: #008CBA;
    border: 2px solid #008CBA;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

.AccountLinks {
    text-align: center;
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    font-size: 20px;
    border: none;
    text-decoration: none;
    color: #000;
}

.AccountLinks:hover {
    color: #5bced5;
}

.AccountLinks::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 4px;
    background-color: #5bced5;
    transition: width 0.3s;
    margin: -5px 0;
}

.AccountLinks.active::before,
.AccountLinks:hover::before {
    width: 100%;
}

.Loyalty-Page {
    --gradient: linear-gradient(
        45deg,
        rgb(0, 77, 109),
        rgb(0, 93, 208),
        rgb(47, 163, 205),
        rgb(147, 214, 234),
        rgb(127, 223, 220)
        ) ;
    background-image: var(--gradient) ;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    }

.Loyalty-Page .Container{
    background-color: white;
    height: 50vh;
    width: 40vw;
    box-shadow: 0 0 3em rgb(0, 0, 0, 0.25);
    overflow: hidden;
}


.Loyalty-Title{
    --font_color: linear-gradient(
        45deg,
        rgb(0, 93, 208),
        rgb(47, 163, 205),
        rgb(147, 214, 234)
        ) ;    
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em; 
    color: transparent;
    font-weight: 600;
    margin: 5px;
    list-style: 0.5;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: var(--font_color);
    padding-top: 35px;
}

.Loyalty-Info-Title{
    --font_color: linear-gradient(
        45deg,
        rgb(0, 93, 208),
        rgb(47, 163, 205),
        rgb(147, 214, 234)
        ) ;    
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em; 
    color: transparent;
    font-weight: 600;
    margin: 5px;
    list-style: 0.5;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: var(--font_color);
    padding-top: 8px;
    
}

.Amount-of-Points{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: transparent;
    margin: 5px;
    margin-top: 10px;
    list-style: 0.5;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 15px;
    padding-top: 8px;
}

.Loyalty-Info{
    text-align: center;
    font-size: 1.15rem;
    color: black;
    margin: 10px;
    padding: 10px 2.5vw;
    letter-spacing: 0.07em; 
    font-weight: 450;
}

.Loyalty-Page .Quiz-Buttons {
    list-style-type: none;
    padding: 10px 10vw;
    margin: 0;
    text-align: center;
}

.Loyalty-Page .Quiz-Info-Button {
    margin: 0 auto;
}

.Loyalty-Page .Quiz-Info-Button a {
    text-decoration: none;
    color: white;
    background-color: #24a0ed;
    border: 2px solid white;
    border-radius: 22px;
    z-index: 10;
    padding: 8px 18px;
    font-size: 20px;
    text-align: center;
    /* text-transform: uppercase; */
    letter-spacing: 0.07em;
}

.Quiz-Info-Button>a:hover {
    box-shadow: 0 0 5px lightskyblue;
    color: white;
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
    transition: ease-in-out 0.3s;
  }
