.footer-container {
    background-color: rgb(230, 230, 230);
    padding-top: 0.6em;
    padding-bottom: 1.2em;
    text-align: center;
  }
  
  .footer {
    width: 60%;
    margin: auto;
  }
  
  .footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer ul>li {
    display: inline-block;
    padding-left: 1vh;
    padding-right: 1vh;
  }
  
  .footer p, .footer Link, .footer a {
    text-decoration: none;
    font-size: 0.9em;
  }