.Testkitcart_Container {
    width: 100%;
}

.Test_Kit_Table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.Test_Kit_Table td,
.Test_Kit_Table th {
    border: none;
    padding: 10px;
    text-align: center;
}

.Edit_Cart_BTN {
    padding: 5px;
    background-color: #008CBA;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #008CBA;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.Edit_Cart_BTN:hover {
    background-color: #ffffff;
    color: #008CBA;
    border: 2px solid #008CBA;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

.Shark_Btn {
    text-decoration: none;
    background-color: transparent;
    border: transparent;
    cursor: default;
}

.Delete_User {
    padding: 5px;
    background-color: #e12929;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #e12929;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.Delete_User:hover {
    background-color: #ffffff;
    color: #e12929;
    border: 2px solid #e12929;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

.Price_td {
    font-size: 15px;
}

.Test_Kit_Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #008CBA;
    color: white;
}

.Test_kit_cart {
    width: 90%;
    margin: auto;

}

.Summary_Div {
    float: right;
    background-color: #ffffff;
    width: 300px;
    height: 420px;
    right: 25px;
    margin: 50px;
    border-radius: 5%;
    padding: 10px;
    border: 2px solid #008CBA;
}

/* .Empty_Div {
    margin: auto; 
    background-color: #ffffff;
    border-radius: 25px; 
    border: 2px solid #008CBA;
}

.Empty_Context{
    float: left;
    background-color: #e12929;
    width: 70%;
}
.Shark_div{
    float: right;
    background-color: #5bced5;
    width: 30%;
} */

.Empty_Div {
    margin: 0 120;
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid #008CBA;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px 10px;
}

.Empty_Context {
    width: 70%;
    margin-bottom: 10px;
}

.Shark_div {
    width: 30%;
    margin-bottom: 10px;
}

.Shark_div img {
    height: 200px;
    width: 200px;
}

.Checkout_Btn {
    padding: 5px;
    background-color: #008CBA;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #008CBA;
    display: inline-block;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
    width: 170px;
}

.Checkout_Btn:hover {
    background-color: #ffffff;
    color: #008CBA;
    border: 2px solid #008CBA;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

.Go_Kit_Btn {
    padding: 5px;
    background-color: #ffffff;
    color: #008CBA;
    font-size: 15px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #008CBA;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
    width: 170px;
}

.Go_Kit_Btn:hover {
    background-color: #008CBA;
    color: #ffffff;
    border: 2px solid #008CBA;
    box-shadow: inset 150px 0 0 0 #008CBA;
}

.Cont_Btn {
    padding: 5px;
    background-color: #ffffff;
    color: #5ab491;
    font-size: 15px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #5ab491;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: ease-out 350ms;
    box-shadow: inset 0 0 0 0 #ffffff;
    width: 170px;
}

.Cont_Btn:hover {
    background-color: #5ab491;
    color: #ffffff;
    border: 2px solid #5ab491;
    box-shadow: inset 150px 0 0 0 #5ab491;
}

.CartContainer {
    display: grid;
    grid-template-columns: 20% 80%;
}

.CartSidebar {
    background-color: #f5f5f5;
    top: 70px;
    /* Height of the navbar */
    height: calc(100vh - 70px);
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ChildContainer {
    background-color: #fff;
}


.Cart_Side_BTN {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    font-size: 20px;
    border: none;
}

.Cart_Side_BTN:hover {
    color: #5bced5;
}

.Cart_Side_BTN::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 4px;
    background-color: #5bced5;
    transition: width 0.3s;
    margin: -5px 0;
}

.Cart_Side_BTN:hover::before {
    width: 100%;
}

.Cart_Side_BTN.active::before,
.Cart_Side_BTN:hover::before {
    width: 100%;
}