.App {
}

p {
  line-height: 150%;
}

.Navbar, .Header-hero, .Home-contents {
  width: 70%;
  margin: auto;
}

.Body-container {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #ffffff;
}

body h1 {
  font-size: 1.5em;
  line-height: 110%;
  text-align: center;
}

body p {
  text-align: center;
}

.Button {
  background-color: #ffffff;
  color: #008a9e;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 10px 20px;
  text-decoration: none;
}

.Button-clear {
  background-color: #ffffff00;
  color: #ffffff;
}

.Navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  /*background: linear-gradient(0deg, #00000000 0%, rgba(0, 0, 0, 0.2) 100%);*/
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.Navbar-logo {
  justify-content: flex-start;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.Navbar-right {
  display: flex;
  align-items: center;
}

.Navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Navbar li {
  display: inline-block;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}

.Navbar ul>li>a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  padding: 25px 1vw 25px 1vw;
}

.Navbar ul>li>a:hover, .Navbar ul>li>.active {
  color: #5bced5;
}

.Navbar ul>li>a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #5bced5;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 150ms;
}

.Navbar ul>li>a:hover::before, .Navbar ul>li>.active::before {
  width: 100%;
}

.Header {
  background-image: url(./Wave.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.Header-content {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  width: 70%;
}

.Header h1 {
  font-size: 2.7em;
  margin: 0;
  padding: 0;
}

.Header p {
  font-size: 1.2em;
  margin-bottom: 0.6em;
}

.Header h1, .Header p {
  color: #ffffff;
  text-align: left;
}

.Header-buttons > .Button {
  font-size: 1.2em;
  margin-right: 2em;
}

.Button:hover {
  background-color: #00000000;
  color: #ffffff;
  transition: all ease-in-out 330ms;
}

.Button-clear:hover {
  background-color: #ffffff;
  color: #008a9e;
  transition: all ease-in-out 330ms;
}

.Footer {
  background-color: rgb(230, 230, 230);
  padding-top: 0.6em;
  padding-bottom: 1.2em;
  text-align: center;
}

.Footer content {
  width: 60%;
  margin: auto;
}

.Footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Footer ul>li {
  display: inline-block;
  padding-left: 1vh;
  padding-right: 1vh;
}

.Footer p, .Footer a {
  text-decoration: none;
  font-size: 0.9em;
}

.Burger > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.75em;
  display: none;
}

@media screen and (max-width: 1050px) {
  .Home-contents, .Footer content, .Header-hero {
    width: 85%;
  }

  .Header-content {
    width: 100%;
  }

  .Header h1 {
    font-size: 2.5em;
  }
  
  .Header p {
    line-height: 150%;
  }

  .Navbar-container {
    background-color: #162427;
    position: fixed;
    z-index: 1;
  }

  .Navbar {
    width: 90%;
    height: 4em;
  }

  .Navbar-right > a, .Navbar-list {
    display: none;
  }

  .Header-buttons > .Button-getinvolved {
    display: none;
  }

  .Navbarlist li > .Mobile-signin {
    display: block;
  }

  .Navbar ul>li>a {
    padding: 20px 10% 20px 0px;
    display: block;
  }

  .Navbar ul>li>a::before {
    right: 0;
  }

  .Burger > a {
    display: inline;
  }

  .Navbar-list-expanded {
    display: block;
    position: fixed;
    top: 4em;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: #203438;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
  }

  .Navbar-list-expanded::before{
    width: 0%;
    transition: all ease-in-out 200ms;
  }

  .Navbar-list-expanded:after {
    width: 100%;
  }

  .Navbar-list-expanded > li {
    display: block;
    text-align: right;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border-bottom: 1px solid #5bced525;
  }

  .Navbar-list-expanded .active {
    background-color: #5bced52b;
    transition: all ease-in-out 200ms;
  }

}

.Mobile-only > a {
  display: none;
}

.Navbar-list > .Mobile-only {
  padding: 0;
}